body{
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}
.button_two{
    height: 45px;
    padding: 13px 32px;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    border: none;
    color: #000;
    border-radius: 0;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: all .3s ease 0s;
    outline: 0;
    background: linear-gradient(to right, #43e97b, #38f9d7);
    text-decoration: none;
    margin-left: 29px;
    outline: none !important;
}
#banner ul li{
    list-style-type: none;
    display: inline-block;
}
#banner ul{
    padding-left: 0 !important;
}
.button{
    height: 45px;
    padding: 13px 32px;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    border: none;
    color: #000;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: all .3s ease 0s;
    outline: 0;
    background: linear-gradient(to right, #43e97b, #38f9d7);
    text-decoration: none;
}
/*banner_new start*/
#banner_new{
    background-color: #ffffff;
    padding: 30px 20px;
}
label{
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 14px !important;
    font-weight: bold;
}
.form-control{
    margin-bottom: 20px;
    border-radius: 0;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 14px;
    padding: 8px 25px;
}
input[type="radio"]{
    margin-left: 17px;
    margin-right: 6px;
}
#active{
    margin-left: 0 !important;
}
input[type="file"]{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 25px;
}
#banner_new button{
    height: 45px;
    padding: 13px 32px;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    border: none;
    color: #000;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: all .3s ease 0s;
    outline: 0;
    background: linear-gradient(to right, #43e97b, #38f9d7);
    text-decoration: none;
}
#banner .offset-10 a:first-child{
    height: 45px;
    padding: 13px 32px;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 600;
    border: none;
    color: #000;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: all .3s ease 0s;
    outline: 0;
    background: linear-gradient(to right, #43e97b, #38f9d7);
    text-decoration: none;
}
#banner table{
    margin-top: 30px;
}
select{
    font-size: 13px !important;
    padding: 8px !important;
    text-align: center !important;
    color: #000;
    font-family: 'Open Sans', sans-serif, sans-serif;
    line-height: 28px;
    font-weight: bold;
}
option{
    text-align: center !important;
}
.filter ul li{
    list-style-type: none !important;
    display: inline-block !important;
    width: 10px;
    height: 10px;
    border: 1px solid #38f9d7;
    background-color: #43e97b;
    border-radius: 50%;
    margin: 0 2px;
    padding: 7px 27px 30px 12px;
}