@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    padding: 70px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

.loginBox h2 {
    margin: 0;
    padding: 0 0 26px;
    color: #ff8c00;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
}

.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="email"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder
{
    color: rgba(255, 255, 255, 0.5);
}

.loginBox button {
    border: none;
    outline: none;
    height: 40px;
    color: #eee;
    font-size: 16px;
    background-color: #FF8C00;
    cursor: pointer;
    border-radius: 20px;
    margin: 12px 0 18px;
    font-family: 'Roboto Slab', serif;
    width: 185px;
}

.loginBox button:hover {
    background-color: #ff9719;
    color: #fff;
}

.loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 280px) and (max-width: 480px){
    .loginBox{
        width: 260px !important;
    }
}