
.add_card2 > h3 {
    background: #00c96b none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    padding: 2px 0 15px;
    text-align: center;
    margin: 0 0 18px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.add_card2 .col-md-7.vl::before {
    background: #ccc;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0.2%;
}


.col-md-6.vl {
    /padding-left: 3%;
}
.add_card2{
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
}
.add_card2 .btn-warning{
    margin-left: 1%;
    padding: 1% 5%;
}
.add_card2 h4{
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
}
.add_card2 p{
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 8px;
}