@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body{
    background:#F0F2F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
label{
    font-weight: 600;
}
.sidebar
{
    background: #fff;
    padding: 5%;
    border: 1px solid #ccc;
}

.lfloat{
    float: left;
    display: inline-block;
}
.rfloat{
    float: right;
    display: inline-block;
}

.glyphicon.glyphicon-ok {
    color: #2AC97A;
    font-weight: 300;
    margin: 0 6px 8px 7px;
    padding-top: 2%;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    margin-left: 2%;
    padding: 1% 0 0 1%;
}

.form-grup, .form-group.row {
    margin-top: 5%;
}

.form-control{
    width: 109%;
}
#payment{
    margin: 20px 0;
}
#payment a{
    text-decoration: none;
}
#payment h3{
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0;
    background-color: #f5f5f5;
    padding: 15px 20px;
    font-family: 'Open Sans',sans-serif;
}
#payment .panel-heading{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    padding: 20px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    border: 0;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs > li:nth-child(2){
    margin-top: 10px;
}
.nav-tabs li a{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
#right_side{
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
#payment .check-img img{
    width: 70px;
}
#payment #sohipping_method p,#payment #sohipping_method input{
    margin-top: 25px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}
#payment #bill_pay label{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

/*shopping cart*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Condensed:300,400');
.lside{
    background: #fff;
    border: 1px solid #ccc;
}
.sidebar
{
    background: #fff;
    padding: 5%;
    border: 1px solid #ccc;
}
.chackout{
    margin-top: 3%;
}
.chackout p{
    font-size: 14px;
    font-weight: 300;
}
body{
    background:#F0F2F5;
    font-family: 'Open Sans', sans-serif;
}
.chackout h2 {
    color: #66AD44;
    font-weight: 300;
}
.chackout h3 {
    color: #66AD44;
    font-weight: 300;
}
.lfloat{
    float: left;
    display: inline-block;
}
.rfloat{
    float: right;
    display: inline-block;
}

.btn.btn-warning {
    margin-left: 19%;
    margin-top: 5%;
    padding: 3% 10%;
}

.glyphicon.glyphicon-ok {
    color: #2AC97A;
    font-weight: 300;
    margin: 0 6px 8px 7px;
    padding-top: 2%;
}
.chackout p{
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.chackout h2{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 20px;
}
.chackout img{
    width: 100px;
}
.chackout .lside p,.chackout .lside input,.chackout .lside i{
    margin-top: 40px;
}
.chackout .lside .product_name{
    margin-top: 16px;
}
.chackout .lside .product_details{
    margin-top: 9px;
    color: #999;
    font-size: 11px;
}
.chackout #select{
    width: 50px;
    height: 41px;
    border-radius: 0;
    margin-top: 32px;
}
.chackout table tr td:nth-child(4){
    color: #F13340;
    font-weight: bold;
}
.chackout .lside i{
    font-size: 18px;
}
.prices input{
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none;
}