
/*address start*/
#contact {
    padding: 60px 0 60px;
    background-color: #ffffff;
}

#contact .address {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13);
    padding: 55px 0;
    margin-right: 65px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

#contact h3 {
    font-size: 18px;
    color: #303030;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    margin-bottom: 8px;
}

#contact .address .contact_1 {
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    height: 50px;
    margin: auto auto 20px;
    position: relative;
    text-align: center;
    width: 50px;
}

#contact .address .contact_1 i {
    font-size: 23px;
    color: green;
    padding: 13px 2px 2px 2px;
}

#contact .address .row {
    margin-bottom: 65px;
}

#contact .address p {
    font-size: 16px;
    color: #606060;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
    line-height: 24px;
}

#contact .col-md-7 h3 {
    font-size: 20px;
    color: #303030;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-top: 58px;
    margin-bottom: 15px;
}

#contact .col-md-7 p:nth-child(2) {
    font-size: 14px;
    color: #606060;
    font-weight: 400;
    margin-bottom: 26px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

#contact form p {
    font-size: 14px;
    color: #030303;
    font-weight: 600;
    margin-bottom: 10px;
}

#contact form input {
    border: 1px solid #E1E1E1;
    height: 42px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
    margin-left: 0 !important;
}

#contact form textarea {
    border: 1px solid #E1E1E1;
    width: 100%;
    margin-bottom: 20px;
    padding: 25px 15px;
}

#contact button {
    background: #2C2B5E;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 25px;
    font-weight: 700;
    border: 1px solid #2C2B5E;
}

#contact button:hover {
    background: #EC1C23;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border: 1px solid transparent;
}
