@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F3F3;;
}

#Product_details {
    margin-top: 20px;
}

#Product_details .container {
    border: 1px solid #ccc;
    padding: 80px 50px;
    background-color: #ffffff;
}

.img_details {
    padding-left: 3%;
}

.about_product h3 {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #555;
    text-transform: capitalize;
    letter-spacing: 0;
    margin: 0;
    padding: 15px 0;
    font-family: 'Open Sans', sans-serif;
}

.about_product > p {
    color: #999;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 0 15px;
    font-size: 12px;
    font-weight: bold;
}

.product-brand > p {
    float: left;
    margin-right: 24%;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.product-reference > p {
    float: left;
    margin-right: 20%;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.social-sharing ul, .variant > ul {
    display: inline-block;
    list-style: outside none none;
    width: 60%;
}

.variant span {
    float: left;
    margin-right: 15%;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.product_color .control-label, .add_card .control-label,.social-sharing span {
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;

}

.product-prices > p {
    color: #f13340;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.add_card {
    margin-top: 20px;
}

.add_card .btn.btn-primary {
    margin: 0 0 0 5%;
    padding: 2% 6%;
}

.product-prices del {
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.product-prices {
    border-top: 1px dashed #999;
    padding-top: 3%;
}

.social-sharing li, .variant li {
    font-size: 13px;
    border: 1px solid #ddd;
    padding: 2%;
    margin-right: 3%;
    float: left;
    cursor: pointer;
}

.color1, .color2 {
    background: #000 none repeat scroll 0 0;
    border-radius: 50px;
    content: "";
    height: 20px;
    position: absolute;
    width: 20px;
    margin-right: 5%;
    left: 30%;
    cursor: pointer;
}

.color2 {
    background: #C0C0C0;
    left: 35%;
}

.add_card input {
    margin-left: 8%;
    width: 12%;
    padding: 2%;
    margin-right: 4%;
}


.social-sharing li {
    font-size: 125%;
    padding: 3px 8px;
    transition: 0.5s ease;
}

.social-sharing > span {
    float: left;
    margin-top: 1.5%;
}

.social-sharing li:last-child:hover {
    background: #BD081C;
    color: #fff;
}

.social-sharing li:nth-child(3):hover {
    background: #DD4B39;
    color: #fff;
}

.social-sharing li:nth-child(2):hover {
    background: #1EA1F3;
    color: #fff;
}

.social-sharing li:nth-child(1):hover {
    background: #3B5998;
    color: #fff;
}

.glyphicon.glyphicon-ok {
    color: #59b210;
    font-weight: 300;
    margin-right: 2%;
}

#tab_contents {
    margin-top: 4%;
}

.table {
    text-align: center;
}

.comment_details > p {
    font-weight: bold;
    margin-top: 2%;
}

.comment_details > span {
    font-weight: 300;
    color: #999;
}

.tab_text h5 {
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 15px;
}
.tab_text p{
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
}

.breadcrumb > li {
    font-size: 13px;
    margin: 0;
    cursor: pointer;
}

.breadcrumb a {
    color: #000;
}

.breadcrumb li:hover {
    color: #999;
}

.breadcrumb a:hover {
    color: #999;
    text-decoration: none;
}

.label span:first-child {
    background: #F5535E;
    font-size: 14px;
    float: left;
    padding: 1% 2%;
}

.label span:last-child {
    background: #2ac9bc none repeat scroll 0 0;
    font-size: 14px;
    float: right;
    padding: 1% 2%;
}

.image {
    padding-top: 3%;
}
.bio{
    margin-bottom: 30px;
}
.bio p{
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.add_card .btn-primary{
    background-color: #59B210;
    border: none;
    border-radius: 0;
}
.discryption .nav-tabs > li:nth-child(2){
    margin-top: 0;
}
.discryption .tab-content{
    background-color: #ffffff;
    margin-top: 5px;
    padding: 2px 30px 40px;
}
.discryption .tab-content table{
    margin: 30px 0;
}
.discryption .tab-content table tr td:first-child{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.discryption .tab-content table tr td:last-child{
    color: #59B210 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.product-reference span{
    color: #59B210 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.product-brand span a{
    color: #59B210 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.variant ul li{
    color: #59B210 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    margin-top: 20px;
}
.breadcrumb a{
    color: #59B210 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
}