@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*owl carouesl*/
#demos .item {
    float: left;
    margin: 0 56px;
    width: 60%;
    text-align: center;
    position: relative;
}

.owl-carousel.owl-drag .owl-item {
    border: 1px solid #edeef2;
}

.owl-carousel .owl-item img {
    cursor: move;
}

#demos {
    padding: 50px 0;
}

#demos .col-md-12 {
    padding: 0;
}

#demos h2 {
    color: #4d4d4d;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    font-size: 30px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
}

#demos p {
    letter-spacing: 0.2px;
    line-height: 24px;
    color: #999;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 5px 0 40px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
}

.sort {
    background-color: #ffffff;
    padding: 20px 30px 20px 0;
    margin: 20px 0;
}

.sort span {
    color: #666666;
    display: inline-block;
    font-family: 'Open Sans', sans-serif, sans-serif;
    font-size: 12px;
    line-height: 28px;
    margin-right: 10px;
}

.sort .inline {
    display: inline-block;
}

.sort select {
    margin-left: 13px;
    margin-top: -2px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 4px 12px;
    background: #fff;
    color: #666666;
    font-family: 'Open Sans', sans-serif, sans-serif;
    font-size: 12px;
    display: block;
}

#product {
    background: #F3F3F3;
}

h2, p {
    margin: 0;
    padding: 0;
}

.product_header {
    border-bottom: 1px solid #e3e3e3;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.product_list {
    background: #FFFFFF;
    padding-top: 3%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.product_header h2 {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 18px 0;
}

.img_details p {
    font-weight: 300;
}

.fa.fa-th-large {
    margin-right: 1%;
}

.product_header p {
    margin-top: 3%;
    padding-left: 20%;
    font-weight: 300;
}

.single_product img {
    height: auto;
    width: 180px;
}

.product_list .single_product .img_details {

    margin-top: 15px;
}

.img_details h4 {
    color: #59B210;
    text-transform: capitalize;
    font-weight: 300;
}

.product_list .single_product .col-md-4 {
    background: #FFFFFF;
    text-align: center;
}

.product_list .slick .single_product {
    position: relative;
}

.product_list .slick .single_product .img_hover {
    position: absolute;
    left: 20px;
    z-index: 1000;
    margin-top: 3%;
    transition: 1.3s ease;
    opacity: 0;
}

.product_list .slick .single_product:hover .img_hover {
    opacity: 1;
    margin-top: 75%;
}

.product_list .slick .single_product .img_hover i {
    background: #66AD44;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 6px 11px;
    margin: -2px;
    border-left: 1px solid hsla(0, 0%, 100%, .2);
}

.product_list .slick .single_product .img_hover .fa.fa-shopping-cart {
    border-left: none;
}

.product_list .slick .single_product .img_hover .fa.fa-shopping-cart {
    background: #fdd922;
    transition: 0.3s ease;
}

.product_list .slick .single_product .img_hover .fa.fa-shopping-cart:hover {
    background: #333;
    color: #fff;
}

#product .img_details {
    margin-left: 3px;
}

#product .img_details span a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #555;
    text-decoration: none;
}

#product .img_details p {
    margin: 8px 0 40px;
    color: #333;
    font-weight: 700;
    font-size: 14px;
}

#product .product_icon {
    color: gold;
    margin-top: 5px;
}

#product .tag {
    line-height: 35px;
    font-size: 11px;
    letter-spacing: 0.5px;
    position: absolute;
    top: 7px;
    right: 23px;
    font-weight: bold;
    width: 38px;
    height: 38px;
    z-index: 1000;
    border-radius: 100%;
    color: #333;
}

#product .tag span {
    position: relative;
    z-index: 100;
    margin-left: 8px;
}

#product .sale {
    background: #fdd922;
    border: 1px solid #fdd922;
}

#product .hot {
    background: #ff7878;
}

.slick-prev {
    left: 730px !important;
}

.slick-next {
    right: 20px !important;
}

.slick-prev, .slick-next {
    top: -16% !important;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #dddddd !important;
}

.slick-prev:hover, .slick-next:hover {
    background-color: #59B210 !important;
    transition: 0.5s ease !important;
}

.all_product {
    margin: 30px 0;
}

.pagi_nation {
    background-color: #ffffff;
    padding: 20px 25px 20px 0;
}

.pagination > li > a, .pagination > li > span {
    border-radius: 50% !important;
    margin: 0 5px;
}
.pagination > .active > a{
    background-color: #59B210;
    border-color: #59B210;
}
.testimonial p{
    color: #898989 !important;
    font-size: 12px !important;
    margin-bottom: 15px !important;
    letter-spacing: 0.5px !important;;
    text-align: center !important;
    padding: 0 17px !important;
    font-weight: normal;
}
.testimonial h5{
    font-size: 14px;
    font-weight: bold;
    color: #333;
    letter-spacing: 0.5px;
    display: block;
    text-align: center;
}
.testimonial h6{
    font-size: 13px;
    font-weight: normal;
    color: #999;
    display: block;
    padding-bottom: 20px;
}
.tst .carousel-indicators li{
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 2px;
    margin: 0 2px;
    transition: all 200ms ease-out;
    background-color: #ddd;
    display: inline-block;
}
.tst .carousel-indicators{
    bottom: -15px;
}
.tst{
    padding: 20px 0 40px;
    margin-top: 30px;
}
.tst .carousel-indicators .active{
    background-color: #333;
}
.tst img{
    margin: 0 auto 15px;
}
.orderby select option{
    margin-left: 40px !important;
}