@media (min-width: 767px) and (max-width: 992px) {
    .smallogo{
        margin-top: -152px !important;
    }
    .icon-round{
        margin-top: 93px;
    }
}
@media (min-width: 280px) and (max-width: 991px){
    .cart-item .cart-item-hover {
        right: -20%;
    }
    .single_product img{
        margin: 0 auto;
    }
    .product_list .slick .single_product:hover .img_hover {
        margin-top: 65%;
    }
    .product_list .slick .single_product .img_hover {
        left: 27px;
    }
    .slick-next{
        right: -5px !important;
    }
    .slick-prev{
        left: 153px !important;
    }
    .slick-prev, .slick-next {
        top: -11% !important;
    }
    .footer-main .copyright-section .coyright-content p{
        text-align: center;
    }
    .footer-main .copyright-section ul{
        text-align: center;
        margin-top: 20px;
    }
    .product_header h2{
        font-size: 13px;
    }
    .col-md-9{
        margin-top: 40px;
    }
    .add_card2 {
        width: 100%;
        border: 1px solid #ddd;
        height: auto;
        padding-bottom: 20px;
    }
}
@media (min-width: 356px) and (max-width: 992px){
    .footer-main .ftr-widget .info p:last-child {
        margin-top: 0;
    }
    .footer-main .ftr-widget .info p{
        padding-bottom: 35px;
    }
    .slick-prev {
        left: 225px !important;
    }
}
@media (min-width: 300px) and (max-width: 373px){
    .product_list .slick .single_product .img_hover {
        left: 55px;
    }
    .product_list .slick .single_product:hover .img_hover {
        margin-top: 20%;
    }
    .slick-prev {
        left: 170px !important;
    }
}
@media (min-width: 374px) and (max-width: 443px){
    .product_list .slick .single_product .img_hover {
        left: 90px;
    }
    .slick-prev {
        left: 245px !important;
    }
    .product_list .slick .single_product:hover .img_hover {
        margin-top: 25%;
    }
}
@media (min-width: 444px) and (max-width: 515px){
    .product_list .slick .single_product .img_hover {
        left: 125px;
    }
    .slick-prev {
        left: 215px !important;
    }
    .product_list .slick .single_product:hover .img_hover {
        margin-top: 26%;
    }
}
@media (min-width: 516px) and (max-width: 589px){
    .product_list .slick .single_product .img_hover {
        left: 161px;
    }
    .slick-prev {
        left: 383px !important;
    }
    .product_list .slick .single_product:hover .img_hover {
        margin-top: 27%;
    }
}

@media (min-width: 590px) and (max-width: 663px){
    .product_list .slick .single_product .img_hover {
        left: 198px;
    }
    .slick-prev {
        left: 462px !important;
    }
    .product_list .slick .single_product:hover .img_hover {
        margin-top: 30%;
    }
}

@media (min-width: 664px) and (max-width: 737px){
    .product_list .slick .single_product .img_hover {
        left: 235px;
    }
    .slick-prev {
        left: 537px !important;
    }
    .product_list .slick .single_product:hover .img_hover {
        margin-top: 25%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .product_list .slick .single_product .img_hover {
        left: 55px !important;
    }
    .product_list .slick .single_product:hover .img_hover {
        margin-top: 60%;
    }
    .slick-prev {
        left: 440px !important;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .product_list .slick .single_product .img_hover {
        left: 11px !important;
    }
    .product_list .slick .single_product:hover .img_hover {
        margin-top: 60%;
    }
    .slick-prev {
        left: 578px !important;
    }
    .icon-round {
        margin-top: 34px;
    }
    .logo-name img {
        width: 139px;
        margin-top: -9px;
        margin-left: 41px;
    }
    .cart-item .cart-item-hover{
        right: -21%;
    }
    .header-top .col-md-7 ul{
        margin-left: 0;
    }

}