
/*slider*/
.bt-carousel{
    margin-top: 20px;
}
.bt-carousel .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.bt-carousel .carousel-fade .carousel-inner .item,
.bt-carousel .carousel-fade .carousel-inner .active.left,
.bt-carousel .carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.bt-carousel .carousel-fade .carousel-inner .active,
.bt-carousel .carousel-fade .carousel-inner .next.left,
.bt-carousel .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.bt-carousel .carousel-fade .carousel-inner .next,
.bt-carousel .carousel-fade .carousel-inner .prev,
.bt-carousel .carousel-fade .carousel-inner .active.left,
.bt-carousel .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bt-carousel .carousel-fade .carousel-control {
    z-index: 2;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.bt-carousel .carousel-inner .item:nth-child(1) {
    background-image: url("../images/slider/slider2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 600px;
    width: 100%;
}

.bt-carousel .carousel-inner .item:nth-child(2) {
    background-image: url("../images/slider/slider2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 600px;
    width: 100%;
}

.bt-carousel .carousel-inner .item:nth-child(3) {
    background-image: url("../images/slider/slider2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 600px;
    width: 100%;
}

.bt-carousel .carousel {
    margin-top: 0;
    position: relative;
}

.bt-carousel .carousel-control.right, .bt-carousel .carousel-control.left {
    background-image: none;
    padding-top: 275px;
}

.bt-carousel .carousel-control.right > i,.bt-carousel .carousel-control.left > i {
    font-size: 25px;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    background-color: #64B032;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.bt-carousel .carousel-control.left > i {
    padding: 5px 3px 2px 0;
}

.bt-carousel .carousel-control.right > i {
    padding: 5px 0 1px 3px;
}

.bt-carousel .carousel-control.right > i:hover,.bt-carousel .carousel-control.left > i:hover {
    background-color: #000;
}

.bt-carousel .carousel-control {
    opacity: 1;
}

.bt-carousel .carousel-inner .item:first-child::after {
    /*content: "";*/
    /*background: none;*/
}

.bt-carousel .carousel-inner .item::after {
    background: rgba(59, 59, 59, 0.79) url("../images/logo/pattarn.png") repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.bt-carousel .carousel-inner .item:nth-child(1) .content h1 {
    font-family: 'Courgette', cursive;
    font-size: 53px;
    color: #ffffff;
    line-height: 50px;
    margin: 0 0 10px;
    text-align: center;
    padding-top: 200px;
}

.bt-carousel .carousel-inner .item:nth-child(1) .content h2 {
    font-size: 73px;
    font-weight: 600;
    font-family: 'Courgette', cursive;
    line-height: 70px;
    margin: 0 0 10px;
    color: #80cd33;
    text-align: center;
    padding-top: 0;
}

.bt-carousel .carousel-inner .item .content h2 {
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    padding-top: 170px;
}

.bt-carousel .carousel-inner .item .content h3 {
    font-size: 65px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Boogaloo', cursive;
    text-align: center;
    color: #ffffff;
    padding-top: 25px;
}

.bt-carousel .carousel-inner .item .content button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 15px;
    padding: 10px 30px;
    background-color: transparent;
    margin-left: 45%;
    transition: 0.5s ease;
}

.bt-carousel .carousel-inner .item .content button:hover {
    color: #fff;
    background: #f05c5c none repeat scroll 0 0;
    border-color: #f05c5c;
}

.bt-carousel .carousel-indicators {
    background: rgba(0, 0, 0, 0) url("../images/logo/button_bg.png") no-repeat scroll center center / cover;
    left: 76%;
    width: 165px;
    display: block;
}

.bt-carousel .carousel-indicators li {
    display: inline-block;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    height: 10px;
    width: 12px;
}

.bt-carousel .carousel-indicators .active {
    background: #00a2ff;
    height: 10px;
    width: 12px;
    margin: 1px;
}




#product .single{
    background-color: #ffffff;
}
#product .side-title{
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 17px;
    text-transform: uppercase;
    background-color: #59b210;
    border: 1px solid #59b210;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-bottom: 1px #59b210 solid;
    padding-left: 20px;
}
#product .list-unstyled li{
    transition: all 0.3s ease 0s;
    padding: 14px 20px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}
#product .list-unstyled li a{
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
    font-size: 13px;
    text-decoration: none;
}
#product .price_title{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}
#product .prices{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#product .prices p{
    font-size: 15px;
    font-weight: 700;
    color: #fe5252;
    padding: 10px 0;
}
#product .brands p{
    padding-left: 20px;
}
#product .brands input[type="checkbox"]{
    border-color: #a7a7a7 !important;
    margin-right: 10px;
}
/* color-changer css */
.color-changer {background: #eee; display: table;padding: 10px;margin: 0 auto;}
.color-changer:hover{cursor:pointer;}
.red,.purple,.darkcyan,.blue,.deeppink,.green, .chocolate{float: left;height: 20px;margin: 3px;width: 20px;}
.red:hover,.purple:hover,.darkcyan:hover,.blue, .chocolate:hover,.deeppink:hover,.green:hover{opacity:0.8;}

.color-changer {
    background: transparent;
    display: table;
    padding: 10px 0 20px 20px;
    margin: 0;
}
.red{
    background: red;
}
.purple{
    background: purple;
}
.darkcyan{
    background: darkcyan;
}
.blue{
    background-color: blue;
}
.deeppink{
    background: deeppink;
}
.green{
    background-color: green;
}

.chocolate {
    background-color: #8e3d3d;
}
#product .widget{
    background-color: #ffffff;
}
#product .tags-box{
    padding: 20px 0 20px 20px;
}
#product .tags-box a {
    border: none;
    background-color: #f1f1f1;
    color: #777;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 18px;
    letter-spacing: 0.56px;
    margin-bottom: 15px;
    transition: all 1s ease 0s;
    text-decoration: none;
}
.banner{
    margin: 30px 0;
}
.single .controls .btn-success{
   background-color: #dddddd;
    z-index: 1000;
    border-radius: 3px;
    border-color: #dddddd;
    margin-right: 6px;
}
.single .controls .btn-success:hover{
    background-color: #59B210;
}
.single .img_hover{
    margin-top: -20px;
    padding-bottom: 30px;
}
.single .img_hover i {
    background: #66AD44;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 6px 11px;
    margin: -2px;
    border-left: 1px solid hsla(0, 0%, 100%, .2);
}

.single .img_hover .fa.fa-shopping-cart {
    border-left: none;
}

.single .img_hover .fa.fa-shopping-cart {
    background: #fdd922;
    transition: 0.3s ease;
}

.single .img_hover .fa.fa-shopping-cart:hover {
    background: #333;
    color: #fff;
}
.currency-switcher{
    background-color: #ffffff;
    padding-bottom: 30px;
}
.currency-switcher button{
    width: 215px;
    border-radius: 0;
    margin-left: 19px;
    margin-top: 10px;
}
.currency-switcher .currency-country{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #000000;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
}
.currency-switcher .caret{
    margin-top: -13px;
}
.currency-switcher .open > .dropdown-menu {
    display: block;
    margin-left: 19px;
    width: 214px;
    border: 0;
}
.currency-switcher .dropdown .dropdown-menu > li > a{
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    padding-top: 20px;
    padding-left: 10px;
}
.currency-switcher .dropdown .dropdown-menu{
    padding: 0;
    margin: 0 0 0 20px;
}
.currency-switcher .dropdown .dropdown-menu .currency-country{
    margin-left: 17px;
}
.currency-switcher .dropdown .btn-default:hover,.currency-switcher .dropdown .btn-default:active,.currency-switcher .dropdown .btn-default:focus{
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.mobile_banner{
    height: 182px;
    width: 100%;
}